.App {
  margin: 65px 250px;
  padding: 20px;
  font-family: 'Poppins-Light';
}
.header{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 40px;
  font-family: 'Poppins-Light';
}

.react-tabs__tab:focus {
  box-shadow: none !important;
  outline: none;
}
.ag-theme-balham{
  font-family: 'Poppins-Light' !important;
}

.react-tabs__tab-list,
.react-tabs__tab {
  border: 0 !important;
  padding :16px 35px !important;
  position: relative !important;
}

.react-tabs__tab--selected,
.react-tabs__tab--selected:focus,
.react-tabs__tab:focus {
  border-bottom: 3px solid #52568f !important;
  color: #0f1ef8 !important;
}
.react-tabs__tab:focus:after {
  bottom: -7px !important;
}
.nav-border{
  font-size:24px;
  border-bottom: 2px solid rgb(219, 217, 217)
}
ul.nav-border {
  margin: 0;
  padding: 0;
}
.addButton{
  position: absolute;
/* right: 0; */
padding-top: 13px;
padding-left: 989px;
}
.react-tabs__tab-panel{
  padding-top: 45px !important;
}
.patient-table {
  height: 100%;
  width: 100%;
  flex: 1 1 0px;}
  .ag-theme-balham .ag-root-wrapper{
    border:none !important;
  }
  .ag-theme-balham .ag-header
    {
    background-color: white !important;

  }
  .ant-select{
    width:315px;
  }
  .error-msg{
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    font-size: .75rem;
    line-height: 1rem;
    color:red
  }
  .css-1s2u09g-control{
    border-radius: 50px !important;
  }
  
  .ant-modal-title{
    text-align: center;
  }
  .ant-modal-footer{    
    text-align: center !important;
  }
  .ant-btn-primary{
    border-color: black !important;
    background: black !important;
  }
 
  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 55px !important;
  }

  @font-face {
    font-family: "Poppins-Thin";
    src: local("Poppins-Thin"),
     url("./fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: bold;
    }

    @font-face {
      font-family: "Poppins-Light";
      src: local("Poppins-Light"),
       url("./fonts/Poppins-Light.ttf") format("truetype");
      font-weight: bold;
      }
      .ant-modal-wrap{
        font-family: 'Poppins-Light';
      }
      .ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after{
        display: none;
      }